@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-exo2: 'Exo 2', sans-serif;

  --color-accent: #E9FF7A;

  /* Purple Shades */
  --color-purple-heart-50: #eef0ff;
  --color-purple-heart-100: #e1e4fe;
  --color-purple-heart-200: #c9cefc;
  --color-purple-heart-300: #a8adf9;
  --color-purple-heart-400: #8584f5;
  --color-purple-heart-500: #7267ed;
  --color-purple-heart-600: #634be0;
  --color-purple-heart-700: #5239c2;
  --color-purple-heart-800: #4633a0;
  --color-purple-heart-900: #3b307f;
  --color-purple-heart-950: #241c4a;

  /* Lime Shades*/
  --color-honeysuckle-50: #fdffe5;
  --color-honeysuckle-100: #f7ffc8;
  --color-honeysuckle-200: #e9ff7a;
  --color-honeysuckle-300: #ddfb5b;
  --color-honeysuckle-400: #cbf229;
  --color-honeysuckle-500: #acd80a;
  --color-honeysuckle-600: #86ad03;
  --color-honeysuckle-700: #648308;
  --color-honeysuckle-800: #50670d;
  --color-honeysuckle-900: #435710;
  --color-honeysuckle-950: #233102;

}

@layer base {
  body {
    @apply font-exo2 bg-purple-heart-50 text-purple-heart-950 selection:bg-lime-100 selection:text-purple-950;
  }

  .bg-gradient {
    @apply bg-gradient-to-r from-violet-600 to-indigo-600;
  }
  .primary-heading {
    @apply font-bold text-3xl font-semibold text-purple-heart-50 tracking-tight text-center uppercase sm:text-4xl md:text-5xl lg:text-6xl;
  }
  .header-text {
    @apply text-purple-heart-50 text-base font-semibold leading-[1.5] md:text-lg;
  }
  .tag {
    @apply bg-purple-heart-50/50 text-honeysuckle-950 w-max px-4 py-1 rounded-xl text-base;
  }
  .search-form {
    @apply border-2 border-accent px-3 py-2 bg-black/40 rounded-xl flex items-center justify-between gap-2 w-full mt-8 hover:bg-black/25  transition duration-300 max-w-lg;
  }
  .num-card {
    @apply p-8 bg-black/50 rounded-md border-1 border-accent flex flex-col items-start gap-4 w-max sm:flex-row sm:gap-6 sm:p-12 md:flex-col md:gap-4 md:px-6 lg:flex-row;
  }
  .search-input {
    @apply caret-accent py-2 outline-none text-white text-base font-semibold grow;
  }
  .cta-btn {
    @apply bg-accent text-black/90 py-1 px-3 rounded-full flex items-center gap-6 hover:bg-accent/80  transition duration-300 hover:-translate-y-1 hover:scale-102;
  }
  .cta-btn-text {
    @apply text-3xl font-semibold leading-[1.5] uppercase tracking-tight;
  }
  .social-icons-box {
    @apply flex items-center px-2 py-1 gap-5 border-1 border-white rounded-xl w-max sm:px-4 sm:py-2;
  }
  .social-icon-circle {
    @apply flex items-center justify-center w-8 h-8 rounded-full border-2 border-white text-white  sm:w-12 sm:h-12;
  }
}

@layer component {
  .btn-primary {
    @apply bg-blue-500 text-white p-2;
  }


}